* {
	/**font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	**/
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
	background: #212226;
}

.wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: center;
	justify-content: center;

}

.row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.column {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

a {
	outline: none;
}

a:focus,
*:focus {
	outline: none;
}

button {
	border: none;
	background-color: transparent;
}

.nav {
	z-index: 1;
	width: 100px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 100vh;
	background: #212226;
	overflow-y:auto; 
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.nav::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
 }
.content-wrapper{
	
}
.content{
	max-width:600px;
	width:600px;
	min-width:100px;
	background:#36393E;
}

.content-title {
	z-index: 5;
	max-width: 600px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	color: white;
	background: #212226;
}

.nav-icon {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding: 15px 20px;
	fill: #4B4B4B;
	transition: width 0.4s, max-width 0.4s, fill 0.4s, padding-left 0.4s, padding-top 0.4s, padding-bottom 0.4s, filter 0.3s;
}

.nav-icon:hover {
	max-width: 115%;
	width: 115%;
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	fill: white;
	filter: drop-shadow(0 0 0.5rem white);
	transition: width 0.3s, max-width 0.3s, fill 0.3s, padding-left 0.3s, padding-top 0.3s, padding-bottom 0.3s, filter -0.3s;
}
.common-user-icon{
	border-radius: 100%;
}

.list {
	z-index: 1;
	min-width: 100px;
	max-width: 100px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 100vh;
	background: #212226;
	overflow-y:auto; 
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
.list::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
 }

.common-list-icon {
	border-radius: 100%;
	max-width: 100%;
	width: 100%;
	padding: 15px 20px;
	transition: border-radius 0.5s;
}

.common-list-icon:hover {
	border-radius: 40%;
	transition: border-radius 0.3s;
}

.edit-list-icon {
	max-width: 100%;
	width: 100%;
	padding: 15px 20px;
	fill: #4B4B4B;
	transition: width 0.3s, max-width 0.3s, fill 0.3s, padding-left 0.3s, padding-top 0.3s, padding-bottom 0.3s;
}

.edit-list-icon:hover {
	max-width: 115%;
	width: 115%;
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	fill: white;
	transition: width 0.3s, max-width 0.3s, fill 0.3s, padding-left 0.3s, padding-top 0.3s, padding-bottom 0.3s;
}


.post-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.post-modal-content {
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	width:600px;
	min-width:200px;
	max-height: 95vh;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
	z-index:1200;
}

.post-modal-title{
    height:50px;
    background-color:#212226;
    color:white;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #212226;
    padding-left:10px;
    font-size:20px;
}

.post-modal-closeButton{
    position: absolute;
    left:10px;
    top:5px;
    fill:#4B4B4B;
    height:40px;
	transition: fill 0.2s;
}

.post-modal-closeButton:hover{
    fill:white;
	transition: fill 0.3s;
}
.post-modal-parentPost{
	display: none;
	flex-direction: row;
	padding: 10px 15px;
}

.post-modal-parentPost-icon {
	padding: 10px;
	width: 15%;
}

.post-modal-parentPost-icon img{
    width:100%;
    border-radius: 100%;
}

.post-modal-parentPost-content{
	width:85%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
    padding: 10px;
    padding-left:5px;
	line-height: 1.5;
}

#parentPost_username{
	font-size:17px;
	font-weight: bolder;
}

.post-modal-parentPost-sentence{
	padding-top:10px;
	font-size:15px;
}


.post-modal-textarea {
	display: flex;
	flex-direction: row;
    padding: 10px 15px;
	min-height:200px;
}

.post-modal-textarea-userImage {
    padding: 10px;
	width: 15%;
}
.post-modal-textarea-userImage img{
    width:100%;
    border-radius: 100%;
}
.post-modal-textarea-input{
	width:85%;
	display: flex;
	flex-direction: column;
}
#textarea {
    padding: 10px;
    padding-top:20px;
	line-height: 1.5;
	border: none;
	box-shadow: none;
	width: 100%;
    background-color:#36393E;
    color: white;
}
#textarea::placeholder{
	color:white;
	font-size:20px;
	font-weight: bold;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ccc;
	font-size:20px;
	font-weight: bold;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   	color:#ccc;
	font-size:20px;
	font-weight: bold;

}
::placeholder{ /* Others */
	color:#ccc;
	font-size:20px;
	font-weight: bold;
}

.post-modal-inputFiles{
	display: flex;
	flex-direction: row;
}
.post-modal-inputFiles-left .post-modal-inputFiles-right{
	display: flex;
	flex-direction: column;
}
.post-modal-inputFiles-right{
	display:none;
}
.input-images{
	display: none;
	width:100%;
}
#preview-1{

}
input[type="file"] {
    opacity: 0;
	display: none;
}
.post-modal-control {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	background-color:#212226;
	padding: 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.post-modal-control-icon{
	position:relative;
	max-width: 100%;
	width:40px;
	fill:#4B4B4B;
	fill:white;
	transition:fill 0.3s;
}

.post-modal-control2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 15px;
}



.post-modal-negative-button {
	background: #a61a37;
	color: white;
	border-radius: 15px;
}

.post-modal-positive-button {
	width: 70px;
	height: 40px;
	display: inline-block;
	padding: 0;
	font-size: 1.2em;
	text-decoration: none;
	background: white;
	color: #212226;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px gray;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.post-modal-positive-button:active {

	-webkit-transform: translateY(3px);
	transform: translateY(3px);

	border-bottom: none;
	//線を消す
}

.post-modal-list-area {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background:　none;
	height: 300px;
	color:white;
	overflow-y: scroll;
}

.post-modal-list {
	display: -webkit-flex;
	display: flex;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
    border-bottom:solid 1px gray;
}

.post-modal-list-icon {
	border-radius: 100%;
	width: 100%;
}

.post-modal-list span {
	line-height: 50px;
}

.post-modal-list a {
	height: 50px;
	width: 50px;
}











.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.modal-content {
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	width:600px;
	min-width:200px;
	max-height: 95vh;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
	z-index:1200;
	
}

.modal-title{
    height:50px;
    background-color:#212226;
    color:white;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #212226;
    padding-left:10px;
    font-size:20px;
}

.modal-closeButton{
    position: absolute;
    left:10px;
    top:5px;
    fill:#4B4B4B;
    height:40px;
	transition: fill 0.2s;
}

.modal-closeButton:hover{
    fill:white;
	transition: fill 0.3s;
}

.modal-textarea {
	display: flex;
	flex-direction: row;
    padding: 10px 15px;
	min-height:200px;
}

.modal-textarea-userImage {
    padding: 10px;
	width: 15%;
}
.modal-textarea-userImage img{
    width:100%;
    border-radius: 100%;
}
.modal-textarea-input{
	width:85%;
	display: flex;
	flex-direction: column;
}
.modal-inputFiles{
	display: flex;
	flex-direction: row;
}
.modal-inputFiles-left .post-modal-inputFiles-right{
	display: flex;
	flex-direction: column;
}
.modal-inputFiles-right{
	display:none;
}
.modal-control {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color:#212226;
	padding: 5px 15px;
}
.modal-control-icon{
	position:relative;
	max-width: 100%;
	width:40px;
	fill:#4B4B4B;
	fill:white;
	transition:fill 0.3s;
}

.modal-control2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 15px;
}



.modal-negative-button {
	background: #a61a37;
	color: white;
	border-radius: 15px;
}

.modal-positive-button {
	width: 70px;
	height: 40px;
	display: inline-block;
	padding: 0;
	font-size: 1.2em;
	text-decoration: none;
	background: white;
	color: #212226;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px gray;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.modal-positive-button:active {

	-webkit-transform: translateY(3px);
	transform: translateY(3px);

	border-bottom: none;
	//線を消す
}

.modal-list-area {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background:　none;
	height: 300px;
	color:white;
	overflow-y: scroll;
}

.modal-list {
	display: -webkit-flex;
	display: flex;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
    border-bottom:solid 1px gray;
}

.modal-list-icon {
	border-radius: 100%;
	width: 100%;
}

.modal-list span {
	line-height: 50px;
}

.modal-list a {
	height: 50px;
	width: 50px;
}

.counter{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	margin-right:10px;
}

.attention-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}
.attention-modal-content{
	display: none;
	flex-direction: column;
	text-align:center;
	opacity:0;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	height:200px;
	width:300px;
	min-width:200px;
	background: #212226;
    border-radius: 6px;
    border-color: none;
	z-index:2200;
}
.attention-modal-text{
	display: inline-flex;
	flex-direction: column;
	text-align:center;
	padding:20px 10px;
	height:100px;
}
.attention-modal-title{
	font-size: 20px;
	font-weight: bold;
}
.attention-modal-sentence{
	margin-top:10px;
	font-size: 14px;
	color:lightgray;
}
.attention-modal-button{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding:20px 10px;
}

.attention-modal-button-cancel{
	width: 110px;
	height: 40px;
	margin: auto;
	display: inline-block;
	padding: 0.4em 0.5em;
	font-size: 1em;
	text-decoration: none;
	background-color:#36393E;
	color:white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #2b2e32;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.attention-modal-button-destruction{
	width: 110px;
	height: 40px;
	margin: auto;
	display: inline-block;
	padding: 0.4em 0.5em;
	font-size: 1em;
	text-decoration: none;
	background: #9F2A38;
	color:white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #6B1620;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.attached-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}

.attached-modal-content{
	display: none;
	flex-direction: column;
	text-align:center;
	opacity:0;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background: #212226;
    border-radius: 6px;
    border-color: none;
	z-index:2200;
}
.attached-modal-content img{
	width:100%;
}

.switch {
	width: 100%;
	margin-bottom: 15px;
}
#disclose_status{
	color:#a61a37;
}
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
	
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	margin: 0 auto;
}

input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #8ce196;
	border-radius: 60px;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color:#36393E;
	border-radius: 60px;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 22px;
	background-color: #8ce196;
	border-radius: 22px;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
	background-color: #a61a37;
}

input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 30px;
	background-color: #a61a37;
}
#preview{
	width:100px;
}


© 2019 GitHub,
