*{
		font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body{
	background:#36393E;
	overflow: hidden;
}

.barba-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	text-align:center;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	padding:30px;
	height:400px;
	width:700px;
	border-radius:5px;
	background-color:white;
	z-index:4;
}

.title-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.app-title{
	font-size:100px;
	font-family:mitubachi;
}

.control-button{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.control-button button{
	border:ridge 1px #80868b;
	border-radius:12px;
	padding:8px;
	background:none;
}

.control-button button:hover{
	border:ridge 1px red;
}