.profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
	height:auto;
	margin: 0px;
    padding: 0px;
	
}
.profile-icon-wrapper{
	width:100%;
}
.profile-icon{
	display: inline-block;
	width:20%;
}
.profile-icon img{
	width:100%;
	border-radius:100%;
}
.profile-userName{
	font-size: 26px;
}
.profile-userId{
	
}
.img_post{
    
    display:none;
}
display:none

h4{
	text-align:left;
	padding-left : 20px ;
	padding-right : 20px ;
	padding-bottom : 5px ;
	
}

.tab-wrapper{
    
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;	
	position: -webkit-sticky;
    position: sticky;
    top: 30px;
	color:white;
	background:#212226;
}
.tab-wrapper button{
	width:50%;
	height:30px;
	border:#36393E 1px solid;
}
.setting{
text-align:right;
top:30px;
    
}

.information{


}

.modal-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: center;
  display: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  background-color: $whitecolor;
  border-radius: 4px;
  width: 360px;
  min-height: 450px;
}

.profile-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.profile-modal-content {
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	width:600px;
	min-width:200px;
	max-height: 95vh;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
    
	z-index:1200;
}
.profile-modal-img {
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	width:300px;
    height:400px;
	min-width:200px;
	max-height: 95vh;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
    
	z-index:1200;
}

.profile-modal-title{
    height:50px;
    background-color:#212226;
    color:white;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #212226;
    padding-left:10px;
    font-size:20px;
}

.profile-modal-closeButton{
    position: absolute;
    left:10px;
    top:5px;
    fill:#4B4B4B;
    height:40px;
	transition: fill 0.2s;
}

.profile-modal-closeButton:hover{
    fill:white;
	transition: fill 0.3s;
}
.profile-modal-parentPost{
	display: none;
	flex-direction: row;
	padding: 10px 15px;
}

.profile-modal-parentPost-icon {
	padding: 10px;
	width: 15%;
}

.profile-modal-parentPost-icon img{
    width:100%;
    border-radius: 100%;
}

.profile-modal-parentPost-content{
	width:85%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
    padding: 10px;
    padding-left:5px;
	line-height: 1.5;
}

#parentPost_username{
	font-size:17px;
	font-weight: bolder;
}

.profile-modal-parentPost-sentence{
	padding-top:10px;
	font-size:15px;
}


.profile-modal-textarea {
	display: flex;
	flex-direction: row;
    padding: 10px 15px;
	min-height:200px;
}

.profile-modal-textarea-userImage {
    padding: 10px;
	width: 15%;
}
.profile-modal-textarea-userImage img{
    width:100%;
    border-radius: 100%;
}
.profile-modal-textarea-input{
	width:85%;
	display: flex;
	flex-direction: column;
}
white
#introduction {
    padding: 10px;
    padding-top:20px;
	line-height: 1.5;
	border: none;
	box-shadow: none;
	width: 100%;

}
#introduction::placeholder{
	font-size:20px;
	font-weight: bold;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ccc;
	font-size:20px;
	font-weight: bold;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   	color:#ccc;
	font-size:20px;
	font-weight: bold;

}
::placeholder{ /* Others */
	color:#ccc;
	font-size:20px;
	font-weight: bold;
}

.profile-modal-inputFiles{
	display: flex;
	flex-direction: row;
}
.profile-modal-inputFiles-left .profile-modal-inputFiles-right{
	display: flex;
	flex-direction: column;
}
.profile-modal-inputFiles-right{
	display:none;
}
.input-images{
	display: none;
	width:100%;
}
#preview-1{

}
input[type="file"] {
    opacity: 0;
	display: none;
}
.profile-modal-control {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	background-color:#212226;
	padding: 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.profile-modal-control-icon{
	position:relative;
	max-width: 100%;
	width:40px;
	fill:#4B4B4B;
	fill:white;
	transition:fill 0.3s;
}

.profile-modal-control2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 15px;
}



.profile-modal-negative-button {
	background: #a61a37;
	color: white;
	border-radius: 15px;
}

.profile-modal-positive-button {
	width: 70px;
	height: 40px;
	display: inline-block;
	padding: 0;
	font-size: 1.2em;
	text-decoration: none;
	background: white;
	color: #212226;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px gray;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.profile-modal-positive-button:active {

	-webkit-transform: translateY(3px);
	transform: translateY(3px);

	border-bottom: none;
	//線を消す
}

.profile-modal-list-area {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background:　none;
	height: 300px;
	color:white;
	overflow-y: scroll;
}

.profile-modal-list {
	display: -webkit-flex;
	display: flex;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
    border-bottom:solid 1px gray;
}

.profile-modal-list-icon {
	border-radius: 100%;
	width: 100%;
}

.profile-modal-list span {
	line-height: 50px;
}

.profile-modal-list a {
	height: 50px;
	width: 50px;
}











.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.modal-content {
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	width:600px;
	min-width:200px;
	max-height: 95vh;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
	z-index:1200;
	
}

.modal-title{
    height:50px;
    background-color:#212226;
    color:white;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #212226;
    padding-left:10px;
    font-size:20px;
}

.modal-closeButton{
    position: absolute;
    left:10px;
    top:5px;
    fill:#4B4B4B;
    height:40px;
	transition: fill 0.2s;
}

.modal-closeButton:hover{
    fill:white;
	transition: fill 0.3s;
}

.modal-textarea {
	display: flex;
	flex-direction: row;
    padding: 10px 15px;
	min-height:200px;
}

.modal-textarea-userImage {
    padding: 10px;
	width: 15%;
}
.modal-textarea-userImage img{
    width:100%;
    border-radius: 100%;
}
.modal-textarea-input{
	width:85%;
	display: flex;
	flex-direction: column;
}
.modal-inputFiles{
	display: flex;
	flex-direction: row;
}
.modal-inputFiles-left .profile-modal-inputFiles-right{
	display: flex;
	flex-direction: column;
}
.modal-inputFiles-right{
	display:none;
}
.modal-control {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color:#212226;
	padding: 5px 15px;
}
.modal-control-icon{
	position:relative;
	max-width: 100%;
	width:40px;
	fill:#4B4B4B;
	fill:white;
	transition:fill 0.3s;
}

.modal-control2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 15px;
}



.modal-negative-button {
	background: #a61a37;
	color: white;
	border-radius: 15px;
}

.modal-positive-button {
	width: 70px;
	height: 40px;
	display: inline-block;
	padding: 0;
	font-size: 1.2em;
	text-decoration: none;
	background: white;
	color: #212226;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px gray;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.modal-positive-button:active {

	-webkit-transform: translateY(3px);
	transform: translateY(3px);

	border-bottom: none;
	//線を消す
}

.modal-list-area {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background:　none;
	height: 300px;
	color:white;
	overflow-y: scroll;
}

.modal-list {
	display: -webkit-flex;
	display: flex;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
    border-bottom:solid 1px gray;
}

.modal-list-icon {
	border-radius: 100%;
	width: 100%;
}

.modal-list span {
	line-height: 50px;
}

.modal-list a {
	height: 50px;
	width: 50px;
}

.counter{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	margin-right:10px;
}

.attention-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}
.attention-modal-content{
	display: none;
	flex-direction: column;
	text-align:center;
	opacity:0;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	height:200px;
	width:300px;
	min-width:200px;
	background: #212226;
    border-radius: 6px;
    border-color: none;
	z-index:2200;
}
.attention-modal-text{
	display: inline-flex;
	flex-direction: column;
	text-align:center;
	padding:20px 10px;
	height:100px;
}
.attention-modal-title{
	font-size: 20px;
	font-weight: bold;
}
.attention-modal-sentence{
	margin-top:10px;
	font-size: 14px;
	color:lightgray;
}
.attention-modal-button{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding:20px 10px;
}

.attention-modal-button-cancel{
	width: 110px;
	height: 40px;
	margin: auto;
	display: inline-block;
	padding: 0.4em 0.5em;
	font-size: 1em;
	text-decoration: none;
	background-color:#36393E;
	color:white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #2b2e32;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.attention-modal-button-destruction{
	width: 110px;
	height: 40px;
	margin: auto;
	display: inline-block;
	padding: 0.4em 0.5em;
	font-size: 1em;
	text-decoration: none;
	background: #9F2A38;
	color:white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #6B1620;
	border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.attached-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}

.attached-modal-content{
	display: none;
	flex-direction: column;
	text-align:center;
	opacity:0;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background: #212226;
    border-radius: 6px;
    border-color: none;
	z-index:2200;
}
.attached-modal-content img{
	width:100%;
}


