.title-wrapper{
	-webkit-flex-direction: row;
	flex-direction: row;
	text-align:left;
}
.app-title{
	font-size:35px;
}
.form-title{
	font-size:20px;
}
.id_string{
    width: 100px; /*文字列分の長さ*/
}
.mailaddress_string{
    width: 130px; /*文字列分の長さ*/
}
/*アニメーション*/
#text:focus + .id_string, .keepfocus {
    font-size: 14px;
    line-height: 10px;
    width: 90px;
    height: 10px;
    padding: 0 2px;
    background-color: white;
    transform:translate3d(5px, -6px, 0);
}
#text2:focus + .mailaddress_string, .keepfocus2{
    font-size: 14px;
    line-height: 10px;
    width: 120px;
    height: 10px;
    padding: 0 2px;
    background-color: white;
    transform:translate3d(5px, -6px, 0);
}
.control-button{
	justify-content: flex-end;
}
.id-line, .mail-line{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0%;
	background:red;
}