.parent-users-content{
	border-bottom:solid 1px transparent;
	padding:10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
*{
    color: white;
}
.users-content{
	border-bottom:solid 1px transparent;
	padding:10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.users-content::before {
	background: inherit;
	content: '';
	filter: blur(2.5rem);
	position: absolute;
	top:0px;
	right: -10px;
	bottom: -10px;
	left: 0px;
}
.users-content::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.users-content-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.parent-users-information-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    max-width:530px;
	width:530px;
    
}
.users-information-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
    max-width:530px;
	width:530px;
    
}
.content-information{
	padding-left:20px;
	margin-bottom:5px;
}
.content-information span{
	height:16px;
	line-height: 14px;
}
.retribute-icon{
	height:16px;
	fill:lightgray;
	padding-top:4px;
}
.users-information-link{
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */  
    
}
.users-information-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.parent-users-content-text{
	z-index: 1;
	font-size:28px;
	padding:0 10px;
}
.users-content-sentence{
	z-index: 1;
	font-size:15px;
	padding:0 10px;
}
.swiper-container{
    max-width:490px;
	width:490px;
	width:100%;
}
.parent-swiper-container{
	width:100%;
	max-width: 600px;
}
.swiper-wrapper{
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
}

.users-content-sentence img{
	width:100%;
}
.information{
	z-index: 1;
	padding:0 10px;
}
.control{
	z-index:1;
	display: -webkit-flex;
	display: flex;
	padding-top:10px;
	-webkit-flex-direction: row;
	flex-direction: row;	
	justify-content: space-around;
}
.control button{
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	width:33%;
	padding-left: 20px;
}

.control-icon{
	position:relative;
	height:18px;
	fill:#4B4B4B;
	fill:white;
	transition:fill 0.3s;
	margin-right:10px;
}
.comment:hover{
	fill:#77B8DA;
	transition:fill 0.3s;
}
.diffusion:hover{
	fill:#E8822A;
	transition:fill 0.3s;
}
.diffusion-retribute{
	fill:#E8822A;
}
.heart:hover{
	fill:#C73C2E;
	transition:fill 0.3s;
}
.heart-favorite{
	fill:#C73C2E;
}
.users-icon{
	z-index: 1;
	width:70px;
	min-width:70px;
}
.users-icon img{
	width:100%;
	border-radius:100%;
}
.users-information{
	z-index: 1;
	
	padding:0 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.users-information-name{
	font-size:17px;
	font-weight: bolder;
}
.users-information-id{
	font-size:14px;
	color:gray;
}
.information-icon{
	width:12px;
	fill:white;
}

.follow-button{
	border-radius: 10px;
	border:solid 2px white;
	color:white;
	font-weight: bold;
}

.follow-remove-button{
	border-radius: 10px;
	border:solid 2px white;
	color:black;
	font-weight:bold;
	background-color:white;
}


.lists-add-modal-list-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height:60vh;
	overflow-y: scroll;
}
.lists-add-modal-list{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	background: none;
	width: 100%;
	height: 80px;
	border-bottom:solid 1px gray;
}
.lists-add-modal-list-icon{
	width: 10%;
	min-width:80px;
    height:100%;
	line-height: 60px;
    padding:8px 5px;
}
.lists-add-modal-list-icon img {
	width:60px;
	border-radius: 100%;
}

.lists-add-modal-list-name span{
	overflow: hidden;
    font-size: 16px;
	color: white;
	padding-left:20px;
	text-align: left;
	line-height: 80px;
}

.lists-add-modal-list-name {
	width: 73%;
    height:100%;
	color:white;
}

.lists-add-modal-list-checkbox {
	width: 7%;
	min-width:30px;
	line-height: 80px;
}






