.content-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.list-create-btn {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.lists-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 5px;
}

.list-content {
	background: white;
	width: 100%;
	height: 100px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	border: ridge 2px black;
	border-radius: 12px;
	margin-bottom: 5px;
}

.create {
	color: aliceblue;
	margin: 250px;

}

.list-icon {
	width: 30%;
	line-height: 100px;
}

.list-title {
	width: 60%;

}

.list-name {
	font-size: 30px;
	color: black;
	text-align: center;
	width: 50px;
	line-height: 100px;
}

.list-friend-select {
	width: 25%;

}

.list-member {
	width: 30%;
	line-height: 100px;
}

.list-edit {
	width: 30%;
	line-height: 100px;
}

.list-icon img {
	width: 70px;
	border-radius: 100%;
}

.list-member img {
	width: 70px;
	border-radius: 100%;
}

.list-edit img {
	width: 70px;
	border-radius: 100%;
}

.btn-square {
	width: 120px;
	height: 50px;
	margin: auto;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.2em;
	text-decoration: none;
	background: #668ad8;
	/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

.btn-square:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	/*下に動く*/
	border-bottom: none;
	/*線を消す*/
}

#edit-icon {
	display: block;
	position: relative;
	background: #303136;
	width: 4px;
	height: 50px;
	left: 39px;
	border-radius: 20px;
	transition: background-color 0.3s;
}

#edit-icon:before {
	display: block;
	content: "";
	position: absolute;
	background: #303136;
	top: 50%;
	left: -22px;
	width: 50px;
	height: 4px;
	margin-top: -2px;
	border-radius: 10px;
	transition: background-color 0.3s;
}

#radius-icon {
	background: transparent;
	border: double 2px #303136;
	border-style: dashed;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	color: white;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform ease-out 200ms;
	transition: -webkit-transform ease-out 200ms;
	transition: transform ease-out 200ms;
	transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
	transition: border 0.3s;
}



.list-input-icon {
	display: -webkit-flex;
	display: flex;
	padding: 10px;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: center;
}

.list-input-name {
	text-align: center;
	padding: 10px;
}

.list-input-name input {
	width: 300px;
	height: 30px;
}

.friend-choice-content {
	background: white;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	border: ridge 2px black;
	border-radius: 50px;
	padding: 2px;
	height: 50px;

}

.friend-content {
	background: #eaf0f0;
	padding: 5px;
	width: 100%;
	height: 300px;
	flex-direction: row;
	border: ridge 2px black;
	border-radius: 10px;
	margin-bottom: 10px;
}

.list-friend-icon {
	width: 30%;
}

.friend-icon {
	width: 45px;
	border-radius: 100%;
	height: 45px;
	line-height: 40px;
}

.list-friend-name {
	line-height: 40px;
	color: black;
	font-size: 20px;

}
