.content-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
    align-items: center;
}

.lists-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 5px;
    width:100%;
}

.list-content {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	background: white;
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 12px;
	margin-bottom: 5px;
}

.create {
/*なんかいい感じのやつ*/
}

.btn-square {
	width: 120px;
	height: 50px;
	margin: auto;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.2em;
	text-decoration: none;
	background: #668ad8;
	/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

.btn-square:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	/*下に動く*/
	border-bottom: none;
	/*線を消す*/
}

.list-icon {
	width: 20%;
    height:100%;
	line-height: 100px;
    padding:0 20px;
}

.list-icon img {
	width: 70px;
	border-radius: 100%;
}

.list-title {
	width: 40%;
    height:100%;
}

.list-title span{
    font-size: 30px;
	color: black;
	text-align: center;
	width: 50px;
	line-height: 100px;
}

.list-control-icon-wrapper {
	width: 20%;
    height:100%;
}

.list-control-icon {
    max-width: 100%;
	width: 100%;
    height:100%;
    fill:#4B4B4B;
}

.setting {
    padding:10px;
}
.list-control-icon:hover {
    /*なんかいい感じのやつ*/
}




/*モーダル部分*/
.list-modal-content{
	display: flex;
	flex-direction: column;
	text-align:center;
	display:none;
	opacity:0;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translate(-50%, -50%);
	height:700px;
	width:600px;
	min-width:200px;
	background-color:#36393E;
    border-radius: 6px;
    border-color: none;
	z-index:1200;
}

.list-modal-title{
    height:50px;
    background-color:#212226;
    color:white;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #212226;
    padding-left:10px;
    font-size:20px;
}

.list-modal-minimumInputs{
    display: flex;
	flex-direction: row;
    padding:15px;
}
.list-modal-profileImageInput{
    width:20%;
}
.list-modal-profileImageInput img{
    width:100%;
    border-radius:100%;
}
.list-modal-listNameInput{
    width:75%;
    padding:30px 20px;
}
.text{
    color:black;
    width:100%;
}
.listName_string{
    width: 150px; /*文字列分の長さ*/
}
/*アニメーション*/
#text:focus + .listName_string, .keepfocus {
    font-size: 14px;
    line-height: 10px;
    width: 115px;
    height: 10px;
    padding: 0 2px;
    background-color: #36393E;
    transform:translate3d(5px, -6px, 0);
}
/*アニメーション*/
#search_text:focus + .listName_string, .keepfocus {
    font-size: 14px;
    line-height: 10px;
    width: 115px;
    height: 10px;
    padding: 0 2px;
    background-color: #36393E;
    transform:translate3d(5px, -6px, 0);
}

.list-modal-addUsers{
    display: flex;
	flex-direction: row;
    width:100%;
    height:65%;
}

.list-modal-addUsers-searchArea{
    width:55%;
    border-top:groove 0.5px lightgray;
    border-bottom:groove 0.5px lightgray;
    border-right:groove 0.5px lightgray;
    height:100%;
}
.list-modal-addUsers-searchArea-searchBox{
    width:100%;
    padding:8px 5px;
    border-bottom:groove 0.5px lightgray;
}
.list-modal-addUsers-searchArea-result{
    display: flex;
	flex-direction: column;
    border-bottom:groove 0.5px lightgray;
    padding:8px 5px;
}
.list-modal-addUsers-searchArea-result-user{
    display: flex;
	flex-direction: row;
}
.list-modal-addUsers-searchArea-result-user-icon{
    width: 20%;
}
.list-modal-addUsers-searchArea-result-user-icon img{
    border-radius: 100%;
    width: 100%;
}
.list-modal-addUsers-searchArea-result-user-name{
    width: 60%;
    line-height: 60px;
    text-align: left;
    padding-left:10px;
}
.list-modal-addUsers-searchArea-result-user-name span{
    color: white;
    font-size: 20px;
}
.list-modal-addUsers-searchArea-result-user-checkbox{
    width:20%;
    line-height: 60px;
}
.list-modal-addUsers-IntendAdd{
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content: flex-start;
    height:100%;
    width:45%;
    padding:15px 10px;
    border-top:groove 0.5px lightgray;
    border-bottom:groove 0.5px lightgray;
}
.list-modal-addUsers-IntendAdd span{
    border-radius:3px;
    background:#212226;
    padding: 3px;
    margin:2px;
    color:white;
}
.modal-control{
    height:50px;
}












