*{
    color: white;
}
.content{
	width:600px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
}
.notice-icon{
	max-width:115%;
	width:115%;
	padding-left:5px;
	padding-top:0;
	padding-bottom:0;
	fill:white;
}
.tab-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;	
	position: -webkit-sticky;
    position: sticky;
    top: 30px;
	color:white;
	background:#212226;
}
.tab-wrapper button{
	width:50%;
	height:30px;
	border:#36393E 1px solid;
}
#reply_button{
	border-left:none;
}
.reaction-wrapper{
	display:block;
}
.reply-wrapper{
	display:none;
}
.users-content{
	border-bottom:1px solid;
	padding:10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
}
.users-information-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.users-content-sentence{
	font-size:15px;
}
.users-content-sentence img{
	width:100%;
}
.control{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;	
	justify-content: space-around;
}
.control-icon{
	position:relative;
	max-width: 100%;
	width:100%;
	height:18px;
}
.users-icon{
	width:10%;
}
.users-icon img{
	width:100%;
	border-radius:100%;
}
.users-information{
	width:90%;
	padding:0 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.users-name{
	font-size:17px;
	font-weight: bolder;
}
.information-icon{
	width:12px;
}
}